.c-button {
  background-color: #64629d;
  color: #ffffff;
}

.c-button__fv {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: min(250px, 17.3611111111vw);
  border-radius: 27px;
  background: #64629d;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: min(18px, 1.25vw);
  font-weight: 700;
  line-height: 18px;
  padding-block: 18px;
  border: 2px solid transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.c-button__fv:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}
@media screen and (max-width: 767px) {
  .c-button__fv {
    font-size: max(18px, 4.8vw);
    width: max(300px, 80vw);
    padding-block: max(18px, 4.8vw);
  }
  .c-button__fv:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.c-button__fv-white {
  background-color: #ffffff;
  color: #64629d;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: min(250px, 17.3611111111vw);
  border-radius: 27px;
  border: 2px solid #64629d;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
  font-size: min(18px, 1.25vw);
  font-weight: 700;
  line-height: 18px;
  padding-block: 18px;
  border: 2px solid #64629d;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.c-button__fv-white:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}
@media screen and (max-width: 767px) {
  .c-button__fv-white {
    font-size: max(18px, 4.8vw);
    width: max(300px, 80vw);
    padding-block: max(18px, 4.8vw);
  }
  .c-button__fv-white:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.c-button__small {
  background-color: #64629d;
  color: #ffffff;
  border-radius: 25px;
  font-size: 16px;
  padding: 10px 26px 12px 26px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 16px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 2px solid transparent;
}
.c-button__small:hover {
  background-color: #ffffff;
  color: #64629d;
  border: 2px solid #64629d;
}
@media screen and (max-width: 767px) {
  .c-button__small:hover {
    background-color: #64629d;
    color: #ffffff;
    border: 2px solid transparent;
  }
}

.c-button__normal {
  background-color: #64629d;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
  border-radius: 29px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 20px 0 22px 0;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.c-button__middle {
  display: inline-block;
  background-color: #ffffff;
  color: #2d2d32;
  border-radius: 50px;
  border: 2px solid #2d2d32;
  font-size: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  font-weight: 700;
  line-height: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  padding: 13px 43px 15px 43px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.c-button__middle:hover {
  background-color: #2d2d32;
  border: 2px solid #ffffff;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .c-button__middle:hover {
    background-color: #ffffff;
    color: #2d2d32;
    border: 2px solid #2d2d32;
  }
}

.c-button__middle:nth-child(2) {
  border: 2px solid #64629d;
  background-color: #64629d;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .c-button__middle:nth-child(2) {
    border: 2px solid #64629d;
    background-color: #64629d;
    color: #ffffff;
  }
}

.c-button__price {
  text-align: center;
  font-weight: 700;
  line-height: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  width: clamp(10.375rem, 8.8785211268rem + 6.3849765258vw, 14.625rem);
  padding-block: clamp(0.8125rem, 0.7464788732rem + 0.2816901408vw, 1rem);
  padding-inline: 0;
}

.c-button__price-color {
  text-align: center;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  line-height: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  padding-block: clamp(0.8125rem, 0.7464788732rem + 0.2816901408vw, 1rem);
  padding-inline: 0;
  width: clamp(10.375rem, 8.8785211268rem + 6.3849765258vw, 14.625rem);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.c-button__price-color:hover {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: #64629d;
}
@media screen and (max-width: 767px) {
  .c-button__price-color:hover {
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
  }
}

.c-button__price-highlight:hover {
  border: 2px solid #64629d;
}
@media screen and (max-width: 767px) {
  .c-button__price-highlight:hover {
    background-color: #64629d;
    color: #ffffff;
  }
}

.c-button__large {
  display: block;
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
  font-size: clamp(1.125rem, 0.9929577465rem + 0.5633802817vw, 1.5rem);
  font-weight: 700;
  padding-block: clamp(1.125rem, 1.0149647887rem + 0.4694835681vw, 1.4375rem);
  width: clamp(18.75rem, 16.5492957746rem + 9.3896713615vw, 25rem);
  margin: 0 auto;
  border: 2px solid #64629d;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.c-button__large:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}
@media screen and (max-width: 767px) {
  .c-button__large:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.c-button__white {
  background-color: #ffffff;
  color: #64629d;
  border: 2px solid #64629d;
  line-height: 18px;
}

@media screen and (max-width: 767px) {
  .c-drawer__icon.is-checked .c-drawer__icon-ber:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  .c-drawer__icon.is-checked .c-drawer__icon-ber:nth-child(2) {
    display: none;
  }
  .c-drawer__icon.is-checked .c-drawer__icon-ber:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}

.c-drawer__icon-ber {
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 3px;
  background-color: #64629d;
  border-radius: 30px;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
  transition: top 0.2s linear, -webkit-transform 0.2s linear;
  transition: transform 0.2s linear, top 0.2s linear;
  transition: transform 0.2s linear, top 0.2s linear, -webkit-transform 0.2s linear;
}
.c-drawer__icon-ber:nth-child(2) {
  width: 13.125px;
  top: 9px;
}
.c-drawer__icon-ber:nth-child(3) {
  top: 18px;
}

.c-drawer__menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .c-drawer__menu {
    width: 100%;
    position: fixed;
    top: 52px;
    right: 0;
    bottom: 0;
    display: none;
    background-color: #edecfc;
    height: 100vh;
    padding-top: 80px;
    z-index: 10;
  }
  .c-drawer__menu.is-checked {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .c-drawer__lists {
    width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .c-drawer__list {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.72px;
    position: relative;
    padding-left: 32px;
  }
  .c-drawer__list::before {
    position: absolute;
    content: "";
    background: url(/img/sp/drawer-text-decoration.png) no-repeat center center/contain;
    width: 20px;
    height: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .c-drawer__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
}

.c-heading {
  text-align: center;
}

.c-heading__lb {
  color: #9f9ec1;
  font-size: clamp(1.375rem, 1.0669014085rem + 1.3145539906vw, 2.25rem);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.c-heading__ttl {
  color: #64629d;
  font-size: clamp(1.875rem, 1.4788732394rem + 1.6901408451vw, 3rem);
  font-weight: 700;
  line-height: clamp(1.875rem, 1.4788732394rem + 1.6901408451vw, 3rem);
  letter-spacing: clamp(0.09375rem, 0.073943662rem + 0.0845070423vw, 0.15rem);
  margin-top: clamp(0.75rem, 0.6179577465rem + 0.5633802817vw, 1.125rem);
}

.c-cta {
  max-width: 100%;
  margin: 0 auto;
  background-color: #2d2d32;
  padding-block: clamp(2.5rem, 2.0598591549rem + 1.8779342723vw, 3.75rem);
}

@media screen and (max-width: 767px) {
  .c-cta__inner {
    padding-inline: 5.3333vw;
  }
}

.c-cta__ttl {
  color: #ffffff;
  text-align: center;
  font-size: clamp(1.125rem, 0.7288732394rem + 1.6901408451vw, 2.25rem);
  font-weight: 700;
  letter-spacing: clamp(0.0225rem, 0.0145774648rem + 0.0338028169vw, 0.045rem);
}
@media screen and (max-width: 767px) {
  .c-cta__ttl {
    font-size: 18px;
  }
}

.c-cta__button {
  text-align: center;
  margin-top: clamp(1.5rem, 1.323943662rem + 0.7511737089vw, 2rem);
}

.c-button__cta {
  background-color: #64629d;
  color: #ffffff;
}

.c-footer {
  background: #000;
  color: #ffffff;
}

.c-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11.1111vw;
}
@media screen and (max-width: 767px) {
  .c-footer__inner {
    height: 96vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8.5333vw;
  }
}

@media screen and (max-width: 767px) {
  .c-footer__side {
    text-align: center;
  }
}

.c-footer__side-txt {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6666vw;
  font-weight: 900;
  line-height: 1.6666vw;
  letter-spacing: 0.05vw;
}
@media screen and (max-width: 767px) {
  .c-footer__side-txt {
    text-align: center;
    font-size: 6.4vw;
    line-height: 6.4vw;
    letter-spacing: 0.1919vw;
  }
}

.c-footer__lists {
  margin-top: clamp(0.875rem, 0.7649647887rem + 0.4694835681vw, 1.1875rem);
  margin-bottom: 1.3194vw;
}
@media screen and (max-width: 767px) {
  .c-footer__lists {
    margin-bottom: 7.4666vw;
  }
}

.c-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9722vw;
  font-size: 0.9722;
  font-weight: 700;
  line-height: 0.9722;
  letter-spacing: 0.02916vw;
}
@media screen and (max-width: 767px) {
  .c-footer__list {
    gap: 3.7333vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.7333vw;
    line-height: 3.7333vw;
    letter-spacing: 0.1119vw;
  }
}

.copyright {
  margin-top: clamp(1.1875rem, 0.9894366197rem + 0.8450704225vw, 1.75rem);
  font-size: 0.6944vw;
  font-weight: 400;
  line-height: 0.6944vw;
  letter-spacing: 0.0208vw;
}
@media screen and (max-width: 767px) {
  .copyright {
    font-size: 2.6666vw;
    line-height: 2.6666vw;
    letter-spacing: 0.0799vw;
  }
}

.c-footer__sns-txt {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25vw;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .c-footer__sns-txt {
    font-size: 4.8vw;
  }
}

.c-footer__sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25vw;
  margin-top: 0.8333vw;
}
@media screen and (max-width: 767px) {
  .c-footer__sns-list {
    gap: 4.8vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3.2vw;
  }
}

.c-footer__sns-item svg {
  width: 1.6666vw;
  height: 1.6666vw;
}
@media screen and (max-width: 767px) {
  .c-footer__sns-item svg {
    width: 6.4vw;
    height: 6.4vw;
  }
}

@media screen and (max-width: 767px) {
  .l-header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 52px;
    background-color: #ffffff;
    z-index: 50;
  }
}

.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82.4305555556vw;
  max-width: 1187px;
  margin: 0 auto;
  height: 72px;
}
@media screen and (max-width: 767px) {
  .l-header__inner {
    height: 52px;
    margin: 0;
    width: 100%;
    padding-inline: 20px;
  }
}

@media screen and (max-width: 767px) {
  .l-header__menu {
    display: none;
  }
}

.l-header__menu-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.l-header__menu-item {
  font-size: min(14px, 1.1794439764vw);
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.42px;
  position: relative;
}
.l-header__menu-item:nth-child(6) {
  position: static;
}
.l-header__menu-item::before {
  background: #64629d;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -8px;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.l-header__menu-item:hover::before {
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.l-header__icon-box {
  display: none;
}
@media screen and (max-width: 767px) {
  .l-header__icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6px;
  }
}

.l-header__open {
  width: 21px;
  height: 21px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .l-header__open-txt {
    color: #64629d;
    text-align: center;
    font-size: 6px;
    font-weight: 700;
    line-height: 6px;
    letter-spacing: 0.12px;
  }
  .l-header__open-txt.is-checked {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
  font-size: min(1.1111111111vw, 16px);
}
@media screen and (max-width: 767px) {
  html {
    font-size: min(4.2666666667vw, 16px);
  }
}

body {
  color: #2d2d32;
  font-family: "Noto Sans JP", sans-serif;
}

.inner {
  width: 82.4305vw;
  max-width: 1187px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

.hidden-pc {
  display: none;
}
@media screen and (max-width: 767px) {
  .hidden-pc {
    display: block;
  }
}

.p-fv {
  background: #edecfc;
  padding-top: min(117px, 8.125vw);
  padding-bottom: min(113px, 7.8472vw);
}
@media screen and (max-width: 767px) {
  .p-fv {
    margin-top: 52px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.p-fv__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82.4305555556vw;
  max-width: 1187px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .p-fv__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 0 20px;
    margin: 0;
  }
}

.p-fv__ttl-txt {
  font-size: min(60px, 4.166vw);
  font-weight: 700;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .p-fv__ttl-txt {
    font-size: max(30px, 8vw);
  }
}

.p-fv__ttl-lead {
  margin-top: 24px;
  font-size: min(18px, 1.25vw);
  font-weight: 400;
  line-height: 32.4px;
}
@media screen and (max-width: 767px) {
  .p-fv__ttl-lead {
    font-size: max(16px, 4.266vw);
    line-height: max(25.6px, 6.826vw);
  }
}

.p-fv__button-wrap {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
}
@media screen and (max-width: 767px) {
  .p-fv__button-wrap {
    display: none;
  }
}

.p-fv__button-wrap-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .p-fv__button-wrap-sp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
    margin-top: -15px;
  }
}

.p-what {
  padding-block: min(100px, 6.9444vw);
  text-align: center;
}

@media screen and (max-width: 767px) {
  .p-what__inner {
    padding-inline: 20px;
    width: 100%;
  }
}

.p-what__desc {
  color: #2d2d32;
  font-size: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  font-weight: 400;
  line-height: clamp(1.6rem, 1.4503521127rem + 0.6384976526vw, 2.025rem);
  margin-top: clamp(1.5rem, 1.3899647887rem + 0.4694835681vw, 1.8125rem);
}
.p-what__desc span {
  font-weight: 700;
}

.p-what__button {
  margin-top: clamp(1.5rem, 1.1478873239rem + 1.5023474178vw, 2.5rem);
  text-align: center;
}

.p-feature {
  background: #f9f9f9;
  padding-block: clamp(3.75rem, 2.8697183099rem + 3.7558685446vw, 6.25rem);
}

@media screen and (max-width: 767px) {
  .p-feature__inner {
    width: 100%;
  }
}

.p-feature__container {
  margin-top: clamp(2.5rem, -2.2535211268rem + 20.2816901408vw, 16rem);
}

.p-feature__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (max-width: 767px) {
  .p-feature__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.p-feature__item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 153px;
  margin-bottom: 263px;
}
@media screen and (max-width: 767px) {
  .p-feature__item:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}
.p-feature__item:nth-of-type(2) .p-feature__img {
  margin-top: 25px;
  left: 5.5972vw;
  top: 0;
}
.p-feature__item:nth-of-type(3) .p-feature__img {
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .p-feature__item:nth-of-type(3) .p-feature__img {
    margin-bottom: -20vw;
  }
}

@media screen and (max-width: 767px) {
  .p-feature__item + .p-feature__item {
    margin-top: 16vw;
  }
}

.p-feature__img {
  width: clamp(17.5rem, 12.2183098592rem + 22.5352112676vw, 32.5rem);
  -webkit-transform: translateX(-6.5972vw);
          transform: translateX(-6.5972vw);
  position: absolute;
  right: -5.5972vw;
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .p-feature__img {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin-bottom: -20vw;
  }
}

.p-feature__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 51.5277vw;
  max-width: 742px;
  height: 25.4166vw;
  max-height: 367px;
  border-radius: 30px;
  background: #ffffff;
  padding-block: clamp(4.0625rem, 5.3936223592rem - 5.6794553991vw, 0.2821125rem);
  padding-left: clamp(2.5rem, 3.3191527289rem - 3.4950516432vw, 0.17360625rem);
  padding-right: clamp(1.1875rem, 1.5765977113rem - 1.6601502347vw, 0.0824625rem);
}
@media screen and (max-width: 767px) {
  .p-feature__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding-block: 0;
    padding-top: 13.0666vw;
    padding-bottom: 10.6666vw;
    padding-left: 0;
  }
}

.p-feature__num {
  color: #64629d;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2.625rem, 1.9647887324rem + 2.8169014085vw, 4.5rem);
  font-weight: 700;
  margin-right: 18px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .p-feature__num {
    margin-right: 0;
    padding-left: 5.3333vw;
  }
}

.p-feature__ttl-wrap {
  display: inline-block;
}

.p-feature__ttl {
  font-size: clamp(1.375rem, 1.0669014085rem + 1.3145539906vw, 2.25rem);
  font-weight: 700;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .p-feature__ttl {
    font-size: 5.8666vw;
    padding-left: 5.3333vw;
    white-space: nowrap;
  }
}

.p-feature__txt {
  width: 32.6388vw;
  max-width: 470px;
  margin-top: clamp(0.5rem, 0.3019366197rem + 0.8450704225vw, 1.0625rem);
  font-size: clamp(0.875rem, 0.8309859155rem + 0.1877934272vw, 1rem);
  line-height: clamp(1.4rem, 1.2591549296rem + 0.6009389671vw, 1.8rem);
}
@media screen and (max-width: 767px) {
  .p-feature__txt {
    width: 100%;
    padding-inline: 5.3333vw;
  }
}

.p-users {
  padding-block: clamp(3.75rem, 2.8697183099rem + 3.7558685446vw, 6.25rem);
}

@media screen and (max-width: 767px) {
  .p-users__inner {
    width: 100%;
    padding-inline: 5.3333vw;
  }
}

.p-users__container {
  margin-top: clamp(1.5rem, 1.1478873239rem + 1.5023474178vw, 2.5rem);
}

.p-users__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: clamp(0.75rem, -0.0862676056rem + 3.5680751174vw, 3.125rem);
  -webkit-column-gap: clamp(0.6875rem, 0.0492957746rem + 2.7230046948vw, 2.5rem);
     -moz-column-gap: clamp(0.6875rem, 0.0492957746rem + 2.7230046948vw, 2.5rem);
          column-gap: clamp(0.6875rem, 0.0492957746rem + 2.7230046948vw, 2.5rem);
}
@media screen and (max-width: 767px) {
  .p-users__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: clamp(0.75rem, -0.0862676056rem + 3.5680751174vw, 3.125rem) clamp(0.6875rem, 0.0492957746rem + 2.7230046948vw, 2.5rem);
    justify-items: center;
  }
}

.p-users__item img {
  width: clamp(4.6875rem, 1.650528169rem + 12.9577464789vw, 13.3125rem);
}

.p-flow {
  background-color: #f9f9f9;
  padding-top: 6.9444vw;
  padding-bottom: 5.5555vw;
}
@media screen and (max-width: 767px) {
  .p-flow {
    padding-block: 16vw;
  }
}

@media screen and (max-width: 767px) {
  .p-flow__inner {
    max-width: 100%;
    padding-inline: 5.3333vw;
  }
}

.p-flow__container {
  margin-top: clamp(4rem, 4.1980633803rem - 0.8450704225vw, 3.4375rem);
}

.p-flow__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.9861vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .p-flow__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
}

.p-flow__item {
  position: relative;
  width: 19.4444vw;
}
.p-flow__item:nth-of-type(2)::before, .p-flow__item:nth-of-type(2)::after {
  position: absolute;
  content: "";
  background: url(/img/Flow-polygon.png) no-repeat center center/contain;
  width: 2.0138vw;
  height: 4.4444vw;
  top: 4.4444vw;
}
@media screen and (max-width: 767px) {
  .p-flow__item:nth-of-type(2)::before, .p-flow__item:nth-of-type(2)::after {
    display: none;
  }
}
.p-flow__item:nth-of-type(2)::before {
  left: -4.8611vw;
}
.p-flow__item:nth-of-type(2)::after {
  right: -4.8611vw;
}
@media screen and (max-width: 767px) {
  .p-flow__item {
    width: 89.3333vw;
  }
  .p-flow__item:nth-last-of-type(2) {
    margin-top: 22.4vw;
    margin-bottom: 24vw;
  }
}

.p-flow__item-num {
  position: absolute;
  font-size: clamp(3rem, 3rem + 0vw, 3rem);
  top: -1.7361vw;
  left: -1.1805vw;
  color: #64629d;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .p-flow__item-num {
    top: -8.7361vw;
    left: 0.8195vw;
  }
}

.p-flow__item-img img {
  width: 100%;
  border-radius: 30px;
}

.p-flow__item-ttl {
  text-align: center;
  font-size: clamp(1.25rem, 1.161971831rem + 0.3755868545vw, 1.5rem);
  font-weight: 700;
  margin-top: clamp(1rem, 1rem + 0vw, 1rem);
}
@media screen and (max-width: 767px) {
  .p-flow__item-ttl {
    line-height: 5.3333vw;
  }
}

.p-flow__item-txt {
  margin-top: clamp(0.5rem, 0.323943662rem + 0.7511737089vw, 1rem);
  line-height: 2vw;
}
@media screen and (max-width: 767px) {
  .p-flow__item-txt {
    line-height: 7.68vw;
  }
}

.p-price {
  padding-block: clamp(3.75rem, 2.8697183099rem + 3.7558685446vw, 6.25rem);
}

.p-price__inner {
  max-width: 70.8333vw;
}
@media screen and (max-width: 767px) {
  .p-price__inner {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.p-price__scroll {
  margin-top: clamp(2.5rem, 1.8838028169rem + 2.6291079812vw, 4.25rem);
  padding-bottom: 3px;
}
@media screen and (max-width: 767px) {
  .p-price__scroll {
    overflow-x: auto;
  }
}
.p-price__scroll::-webkit-scrollbar {
  height: 8px;
}
.p-price__scroll::-webkit-scrollbar-thumb {
  background: #64629d;
  border-radius: 4px;
}

.p-price__container {
  margin-top: clamp(2.5rem, 1.8838028169rem + 2.6291079812vw, 4.25rem);
}
@media screen and (max-width: 767px) {
  .p-price__container {
    padding-left: 20px;
  }
}

.p-price__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .p-price__list {
    min-width: 727px;
  }
}

.p-price__item {
  width: clamp(11.25rem, 9.4894366197rem + 7.5117370892vw, 16.25rem);
  height: clamp(12.5rem, 10.9595070423rem + 6.5727699531vw, 16.875rem);
  background-color: #2d2d32;
  text-align: center;
  padding-top: clamp(1.75rem, 1.3318661972rem + 1.7840375587vw, 2.9375rem);
  padding-bottom: clamp(1.75rem, 1.4639084507rem + 1.220657277vw, 2.5625rem);
}
@media screen and (max-width: 767px) {
  .p-price__item {
    width: 180px;
  }
}
.p-price__item:nth-of-type(2) {
  width: clamp(13.5rem, 12.5316901408rem + 4.1314553991vw, 16.25rem);
  background-color: #64629d;
  -webkit-box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.6);
  height: clamp(14.5rem, 13.3116197183rem + 5.0704225352vw, 17.875rem);
  padding-top: clamp(3.375rem, 3.198943662rem + 0.7511737089vw, 3.875rem);
}
@media screen and (max-width: 767px) {
  .p-price__item:nth-of-type(2) {
    width: 216px;
    padding-top: 60px;
  }
}

.p-price__name {
  color: #ffffff;
  font-size: clamp(1.25rem, 1.161971831rem + 0.3755868545vw, 1.5rem);
  font-weight: 700;
}

.p-price__price {
  color: #ffffff;
  font-size: clamp(0.75rem, 0.6179577465rem + 0.5633802817vw, 1.125rem);
  font-weight: 700;
  margin-top: clamp(0.6875rem, 0.5554577465rem + 0.5633802817vw, 1.0625rem);
}
.p-price__price span {
  font-size: clamp(1.875rem, 1.7429577465rem + 0.5633802817vw, 2.25rem);
}

.p-price__item-btn {
  margin-top: clamp(1.1875rem, 0.9894366197rem + 0.8450704225vw, 1.75rem);
}

@media screen and (max-width: 767px) {
  .p-price__comparison {
    min-width: 727px;
  }
}

.p-price__table {
  width: 100%;
  border-collapse: collapse;
}
.p-price__table tr {
  height: 60px;
}
@media screen and (max-width: 767px) {
  .p-price__table tr {
    height: 42px;
  }
}
.p-price__table th,
.p-price__table td {
  vertical-align: middle;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .p-price__table th {
    width: 141px;
  }
}
.p-price__table td {
  width: clamp(11.25rem, 9.4894366197rem + 7.5117370892vw, 16.25rem);
  text-align: center;
  font-size: clamp(0.875rem, 0.786971831rem + 0.3755868545vw, 1.125rem);
}
@media screen and (max-width: 767px) {
  .p-price__table td {
    width: 180px;
  }
}
.p-price__table td strong {
  font-weight: 700;
  font-size: clamp(1.25rem, 1.161971831rem + 0.3755868545vw, 1.5rem);
}

.th-font {
  font-size: clamp(0.9375rem, 0.8274647887rem + 0.4694835681vw, 1.25rem);
  -moz-text-align-last: left;
       text-align-last: left;
  padding-left: clamp(1.125rem, 0.8169014085rem + 1.3145539906vw, 2rem);
}

.tr-color {
  background: #edecfc;
}

@media screen and (max-width: 767px) {
  .sp-size {
    width: 216px;
  }
}

.p-price__button {
  margin-top: clamp(0.5625rem, 0.386443662rem + 0.7511737089vw, 1.0625rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(1.5625rem, 1.4084507042rem + 0.6572769953vw, 2rem);
  height: clamp(3.75rem, 3.2878521127rem + 1.9718309859vw, 5.0625rem);
  padding-right: 8px;
}
@media screen and (max-width: 767px) {
  .p-price__button {
    gap: 32px;
  }
}

.p-question {
  padding-block: clamp(3.75rem, 2.8697183099rem + 3.7558685446vw, 6.25rem);
  background: #f9f9f9;
}

@media screen and (max-width: 767px) {
  .p-question__inner {
    width: 100%;
    padding-inline: 5.3333vw;
  }
}

.p-question__container {
  margin-top: clamp(2.5rem, 2.0598591549rem + 1.8779342723vw, 3.75rem);
}

.p-question__list + .p-question__list {
  margin-top: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);
}

.p-question__q {
  color: #ffffff;
  font-size: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  font-weight: 700;
  line-height: clamp(1.125rem, 0.9577464789rem + 0.7136150235vw, 1.6rem);
  border-radius: 10px;
  background: #64629d;
  padding-block: 1.5277vw;
  padding-left: 3.8888vw;
  position: relative;
}
.p-question__q::before {
  position: absolute;
  content: "Q";
  display: inline-block;
  color: #ffffff;
  font-size: clamp(1.375rem, 1.375rem + 0vw, 1.375rem);
  font-weight: 700;
  line-height: clamp(1.375rem, 1.375rem + 0vw, 1.375rem);
  left: clamp(0.9375rem, 0.7394366197rem + 0.8450704225vw, 1.5rem);
}
@media screen and (max-width: 767px) {
  .p-question__q {
    padding-top: 2.6666vw;
    padding-bottom: 2.1333vw;
    padding-right: 2.6666vw;
    padding-left: 12.5333vw;
    line-height: 6.82666vw;
    border-radius: 4px;
  }
}

.p-question__a {
  color: #2d2d32;
  background-color: #ffffff;
  font-size: clamp(1rem, 0.9559859155rem + 0.1877934272vw, 1.125rem);
  line-height: clamp(1.6rem, 1.4503521127rem + 0.6384976526vw, 2.025rem);
  margin-top: clamp(0.875rem, 0.8309859155rem + 0.1877934272vw, 1rem);
  padding-block: 1.5277vw;
  padding-left: 3.8888vw;
  padding-right: 1.7361vw;
  border-radius: 10px;
  position: relative;
}
.p-question__a::before {
  position: absolute;
  content: "A";
  display: inline-block;
  color: #2d2d32;
  font-size: clamp(1.375rem, 1.375rem + 0vw, 1.375rem);
  font-weight: 700;
  line-height: clamp(1.375rem, 1.375rem + 0vw, 1.375rem);
  left: clamp(0.9375rem, 0.7394366197rem + 0.8450704225vw, 1.5rem);
}
@media screen and (max-width: 767px) {
  .p-question__a {
    padding-left: 10.9226vw;
    padding-block: 3.2vw;
  }
}