.c-button {
  background-color: #64629d;
  color: #ffffff;
}

.c-button__fv {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: min(250px, 17.3611111111vw);
  border-radius: 27px;
  background: #64629d;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: min(18px, 1.25vw);
  font-weight: 700;
  line-height: 18px;
  padding-block: 18px;
}
@media screen and (max-width: 767px) {
  .c-button__fv {
    font-size: max(18px, 4.8vw);
    width: max(300px, 80vw);
    padding-block: max(18px, 4.8vw);
  }
}

.c-button__fv-white {
  background-color: #ffffff;
  color: #64629d;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: min(250px, 17.3611111111vw);
  border-radius: 27px;
  border: 2px solid #64629d;
  font-size: min(18px, 1.25vw);
  font-weight: 700;
  line-height: 18px;
  padding-block: 18px;
}
@media screen and (max-width: 767px) {
  .c-button__fv-white {
    font-size: max(18px, 4.8vw);
    width: max(300px, 80vw);
    padding-block: max(18px, 4.8vw);
  }
}

.c-button__small {
  background-color: #64629d;
  color: #ffffff;
  border-radius: 25px;
  font-size: 16px;
  padding: 10px 26px 12px 26px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 16px;
}

.c-button__normal {
  background-color: #64629d;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
  border-radius: 29px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 20px 0 22px 0;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.c-button__middle {
  background-color: #ffffff;
  color: #2d2d32;
  border-radius: 50px;
  border: 2px solid #2d2d32;
  font-size: 18px;
  padding: 13px 43px 15px 43px;
}

.c-button__large {
  display: block;
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
  font-size: min(24px, 1.6666vw);
  padding: min(23px, 1.5972vw) 0;
  width: min(400px, 27.7777vw);
  margin: 0 auto;
}

.c-button__white {
  background-color: #ffffff;
  color: #64629d;
  border: 2px solid #64629d;
  line-height: 18px;
}

@media screen and (max-width: 767px) {
  .c-drawer__icon.is-checked .c-drawer__icon-ber:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  .c-drawer__icon.is-checked .c-drawer__icon-ber:nth-child(2) {
    display: none;
  }
  .c-drawer__icon.is-checked .c-drawer__icon-ber:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}

.c-drawer__icon-ber {
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 3px;
  background-color: #64629d;
  border-radius: 30px;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
  transition: top 0.2s linear, -webkit-transform 0.2s linear;
  transition: transform 0.2s linear, top 0.2s linear;
  transition: transform 0.2s linear, top 0.2s linear, -webkit-transform 0.2s linear;
}
.c-drawer__icon-ber:nth-child(2) {
  width: 13.125px;
  top: 9px;
}
.c-drawer__icon-ber:nth-child(3) {
  top: 18px;
}

.c-drawer__menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .c-drawer__menu {
    width: 100%;
    position: fixed;
    top: 52px;
    right: 0;
    bottom: 0;
    display: none;
    background-color: #edecfc;
    height: 100vh;
    padding-top: 80px;
  }
  .c-drawer__menu.is-checked {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .c-drawer__lists {
    width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .c-drawer__list {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.72px;
    position: relative;
    padding-left: 32px;
  }
  .c-drawer__list::before {
    position: absolute;
    content: "";
    background: url(/img/sp/drawer-text-decoration.png) no-repeat center center/contain;
    width: 20px;
    height: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .c-drawer__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
}

.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82.4305555556vw;
  max-width: 1187px;
  margin: 0 auto;
  height: 72px;
}
@media screen and (max-width: 767px) {
  .l-header__inner {
    height: 52px;
    margin: 0;
    width: 100%;
    padding-inline: 20px;
  }
}

@media screen and (max-width: 767px) {
  .l-header__menu {
    display: none;
  }
}

.l-header__menu-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.l-header__menu-list {
  font-size: min(14px, 1.1794439764vw);
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.42px;
}

.l-header__icon-box {
  display: none;
}
@media screen and (max-width: 767px) {
  .l-header__icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6px;
  }
}

.l-header__open {
  width: 21px;
  height: 21px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .l-header__open-txt {
    color: #64629d;
    text-align: center;
    font-size: 6px;
    font-weight: 700;
    line-height: 6px;
    letter-spacing: 0.12px;
  }
  .l-header__open-txt.is-checked {
    display: none;
  }
}

.l-fv {
  background: #edecfc;
  padding-top: min(117px, 8.125vw);
  padding-bottom: min(113px, 7.8472vw);
}
@media screen and (max-width: 767px) {
  .l-fv {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.l-fv__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82.4305555556vw;
  max-width: 1187px;
  margin-left: 8.3333333333vw;
  margin-right: 9.2361111111vw;
}
@media screen and (max-width: 767px) {
  .l-fv__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 0 20px;
    margin: 0;
  }
}

.l-fv__ttl-txt {
  font-size: min(60px, 4.166vw);
  font-weight: 700;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .l-fv__ttl-txt {
    font-size: max(30px, 8vw);
  }
}

.l-fv__ttl-lead {
  margin-top: 24px;
  font-size: min(18px, 1.25vw);
  font-weight: 400;
  line-height: 32.4px;
}
@media screen and (max-width: 767px) {
  .l-fv__ttl-lead {
    font-size: max(16px, 4.266vw);
    line-height: max(25.6px, 6.826vw);
  }
}

.l-fv__button-wrap {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
}
@media screen and (max-width: 767px) {
  .l-fv__button-wrap {
    display: none;
  }
}

.l-fv__button-wrap-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .l-fv__button-wrap-sp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
    margin-top: -15px;
  }
}

.l-what {
  padding-block: min(100px, 6.9444vw);
}

.l-what__inner {
  width: 100%;
  max-width: 939px;
  padding-inline: min(40px, 2.7777vw);
  margin: 0 auto;
  text-align: center;
}

.l-what__ttl-txt {
  color: #9f9ec1;
  font-size: clamp-vi(22, 36);
  font-weight: 700;
  line-height: min(22px, 0.8333vw);
}

.l-what__ttl-ld {
  color: #64629d;
  font-size: min(48px, 3.3333vw);
  font-weight: 700;
  line-height: min(48px, 3.3333vw);
  letter-spacing: 2.4px;
  margin-top: min(18px, 1.25vw);
}
@media screen and (max-width: 767px) {
  .l-what__ttl-ld {
    font-size: max(30px, 8vw);
    line-height: max(42px, 11.2vw);
    margin-top: max(12px, 3.2vw);
  }
}

.l-what__desc {
  color: #2d2d32;
  font-size: min(18px, 1.25vw);
  font-weight: 400;
  line-height: min(32.4px, 2.25vw);
  margin-top: min(29px, 2.0138vw);
}
.l-what__desc span {
  font-weight: 700;
}

.l-what__button {
  margin-top: min(40px, 2.7777vw);
  text-align: center;
}

html {
  font-size: min(1.1111111111vw, 16px);
}

body {
  color: #2d2d32;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (max-width: 767px) {
  body.is-checked {
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

.hidden-pc {
  display: none;
}
@media screen and (max-width: 767px) {
  .hidden-pc {
    display: block;
  }
}