@use "../global/mixin" as mixin;
@use "../global/variables" as global;

.l-fv {
  background: #edecfc;
  padding-top: 117px;
  padding-bottom: 113px;
}

.l-fv__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-right: min(133px, 9.23611111111111vw);
  margin-left: min(120px, 8.333333333333332vw);
}

.l-ft__image {
  img{
    width: min(515px, 35.76388888888889vw);
  }
}

.l-fv__ttl {
}

.l-fv__ttl-txt {
  font-size: min(60px, 4.166666666666666vw);
  font-weight: 700;
}

.l-fv__ttl-lead {
  margin-top: 24px;
  font-size: min(18px, 1.25vw);
  font-weight: 400;
  line-height: 32.4px;
}

.l-fv__button-wrap {
  margin-top: 33px;
  display: flex;
  gap: 37px;
}
