@use "../global" as *;

.l-header {
}
.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(1187 / 1440 * 100vw);
  max-width: 1187px;
  margin: 0 auto;
  height: 72px;

  @include mq(sp) {
    height: 52px;
    margin: 0;
    width: 100%;
    padding-inline: 20px;
  }
}
.l-header__logo {
}

.l-header__menu {
  @include mq(sp) {
    display: none;
  }
}

.l-header__menu-lists {
  display: flex;
  align-items: center;
  gap: 16px;
}

.l-header__menu-list {
  font-size: min(14px, 1.1794439764111204vw);
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.42px;
}

.l-header__icon-box {
  display: none;

  @include mq(sp) {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}

.l-header__open {
  width: 21px;
  height: 21px;
  position: relative;
}

.l-header__open-txt {
  @include mq(sp) {
    color: $base-color;
    text-align: center;
    font-size: 6px;
    font-weight: 700;
    line-height: 6px;
    letter-spacing: 0.12px;

    &.is-checked {
      display: none;
    }
  }
}
