@use "../global" as *;

.c-drawer__menu {
  display: none;

  @include mq(sp) {
    width: 100%;
    position: fixed;
    top: 52px;
    right: 0;
    bottom: 0;
    display: none;
    background-color: #edecfc;
    height: 100vh;
    padding-top: 80px;

    &.is-checked {
      display: block;
    }
  }
}

.c-drawer__lists {
  @include mq(sp) {
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    padding-bottom: 60px;
  }
}

.c-drawer__list {
  @include mq(sp) {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.72px;
    position: relative;
    padding-left: 32px;

    &::before {
      position: absolute;
      content: "";
      background: url(/img/sp/drawer-text-decoration.png) no-repeat center
        center / contain;
      width: 20px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
}

.c-drawer__button {
  @include mq(sp) {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
