@use "../global" as *;

.p-feature {
  background: #f9f9f9;
  padding-block: clamp-vw(60, 100);
}

.p-feature__inner {
  @include mq(sp) {
    max-width: 100%;
  }
}

.p-feature__container {
  margin-top: clamp-vw(40, 256);
}

.p-feature__item {
  position: relative;
  display: flex;
  flex-direction: row;

  @include mq(sp) {
    flex-direction: column;
    align-items: center;
  }

  &:nth-child(2) {
    flex-direction: row-reverse;
    margin-top: 153px;
    margin-bottom: 263px;

    @include mq(sp) {
      flex-direction: column;
      margin: 0;
    }
  }

  &:nth-of-type(2) {
    .p-feature__img {
      margin-top: 25px;
      left: 5.5972vw;
      top: 0;
    }
  }

  &:nth-of-type(3) {
    .p-feature__img {
      margin-bottom: 10px;

      @include mq(sp) {
        margin-bottom: -20vw;
      }
    }
  }
}

.p-feature__item + .p-feature__item {
  @include mq(sp) {
    margin-top: 16vw;
  }
}

.p-feature__img {
  width: clamp-vw(280, 520);
  transform: translateX(-6.5972vw);
  position: absolute;
  right: -5.5972vw;
  bottom: 0;

  @include mq(sp) {
    position: static;
    transform: translateX(0);
    margin-bottom: -20vw;
  }
}

.p-feature__body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 51.5277vw;
  height: 25.4166vw;
  border-radius: 30px;
  background: $base-white;
  padding-block: 4.5138vw;

  @include mq(sp) {
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding-block: 0;
    padding-top: 13.0666vw;
    padding-bottom: 10.6666vw;
  }
}

.p-feature__num {
  color: $base-color;
  font-family: $ff-en;
  font-size: clamp-vw(42, 72);
  font-weight: 700;
  margin-right: 18px;
  line-height: 1;

  @include mq(sp) {
    margin-right: 0;
    padding-left: 5.3333vw;
  }
}

.p-feature__ttl-wrap {
  display: inline-block;
}

.p-feature__ttl {
  font-size: clamp-vw(22, 36);
  font-weight: 700;

  @include mq(sp) {
    font-size: 5.8666vw;
    padding-left: 5.3333vw;
  }
}

.p-feature__txt {
  width: 32.6388vw;
  margin-top: clamp-vw(8, 17);
  font-size: clamp-vw(14, 16);
  line-height: clamp-vw(22.4, 28.8);

  @include mq(sp) {
    width: 100%;
    padding-inline: 5.3333vw;
  }
}
